alembic==1.3.2
bleach==3.1.0
BTrees==4.6.1
chardet==3.0.4
Flask==1.1.1
Flask-Cors==3.0.8
flask-marshmallow==0.10.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
gunicorn==20.0.4
Jinja2==2.10.3
marshmallow==3.3.0
marshmallow-sqlalchemy==0.21.0
mtgtools==0.9.50
persistent==4.5.1
psycopg2==2.8.4
PyJWT==1.7.1
python-dateutil==2.8.1
python-dotenv==0.10.3
six==1.13.0
SQLAlchemy==1.3.12
transaction==3.0.0
Werkzeug==0.16.0
WTForms==2.2.1
zc.lockfile==2.0
ZConfig==3.5.0
ZODB==5.5.1
zodbpickle==2.0.0
zope.interface==4.7.1
